.container {
    width: 40rem;
    margin: auto;
    padding: 1rem;
    border-radius: .6rem;
 }
 

 .fullWidth {
    width: 100%;
 }
 
 h1, p {
    text-align: center;
 }

 img {
    width: 40rem;
    height: 12rem;
    margin: auto;
 }

 .section {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
 }

 button{
   margin-top: 1rem;
 }
 p{
   margin-top: 3rem;
   opacity: .7;
 }


 mat-icon {
   opacity: .8;
 }